@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
}

.container{
    margin: 80px auto;
    width: 320px;
}

header{
    display:flex;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    width: 302px;
    height: 56px;
}

header > img {
    width: 50px;
    height:50px;
}

header > h1 {
    font-size: 24px;
    letter-spacing:3%;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

form{
    margin-top: 80px;
    width:302px;
    margin-left: 10px;
    margin-bottom: 23px;
}

.form  form{
    display: flex;
    flex-direction: column;
}

form label {
    font-size:16px;
    letter-spacing:3%;
    color: #a3a3a3;
    margin-bottom: 5px;
}

form input{
    background-color: transparent;
    border:none;
    border-bottom: 2px solid  orangered;
    outline: none;
    color:black;
    margin-bottom: 27px;
}

form button{
    width: 100%;
    background-color: orangered;
    color:#e0e0e0;
    border: none;
    cursor:pointer;
    padding:12px 75px;
}

.resultado{
    display: flex;
    flex-direction: column;
    text-align:center;
    width:302px;
    margin-left: 10px;
    background-color: orangered;
    color: white;
    padding: 14px 23px;
}

.resultado span {
    font-size: 16px;
    letter-spacing: 6%;
}

.resultado #valor-total{
    font-size: 32px;
}

.resultado p{
    font-size: 16px;
}

.hidden{
    display: none;
}